{% extends 'app_template/bussiness.html' %}

{% load static %}

{% block title %}Manual Upload{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/templateswa/addwa.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block bussiness_content %}
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h4>Manual<span class="text-success"> Contact Upload</span></h4>
        </div>
        <div class="card-body">
            <form id="uploadmanual" method="POST" onsubmit="return validateForm()">
                {% csrf_token %}
                {% if messages %}
                <div class="alert alert-info" role="alert">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form-group mb-4">
                    <label for="group">Group:</label>
                    <select id="group" name="group" class="form-select" size="5" required>
                        {% for group in group %}
                        <option value="{{ group.id }}">{{ group.group_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="numbers">Contact Number:</label>
                        <input type="text" id="numbers" name="numbers" class="form-control">
                        <span class="text-muted">(Add numbers without +91)</span>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        <label for="name">Contact Name:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        <label for="cname">Company Name:</label>
                        <input type="text" id="cname" name="cname" class="form-control">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Upload Number</button>
                </div>
            </form>

            {% if messages %}
                <div class="alert alert-info" role="alert">
                    <ul>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function validateForm() {
        var numbersInput = document.getElementById('numbers').value.trim();
        
        // Split the input into individual numbers
        var numbersList = numbersInput.split(',');

        for (var i = 0; i < numbersList.length; i++) {
            var number = numbersList[i].trim();

            // Check if number is exactly 10 digits and contains only numeric characters
            if (number.length !== 10 || isNaN(number)) {
                alert("Please enter a 10-digit numeric mobile number.");
                return false; // Prevent form submission
            }
        }

        return true; // Allow form submission
    }
</script>

{% endblock bussiness_content %}