body{
    background-color: #f0f0f0 !important;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 60% !important;
    margin-left:250px !important;
    font-family: 'Roboto', sans-serif;
}
.table-responsive {
    width: 100% !important;
    border-spacing: 0 !important;
    border-radius: 10px !important;
    border-collapse:separate !important;
}
th, td {
    padding: 10px;
    border: 0.1px solid rgb(117, 110, 110) !important ;
}

th {
    background-color: #4d63f6 !important;
    font-weight: bold !important;
    color: whitesmoke;
}
.delete-btn {
    background-color: transparent;
    border: none;
}
.delete-btn:hover {
    color: red;
}
.delete-icon {
    width: 20px;
    height: 20px;
}