.container {
    margin-top: 50px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(8, 8, 113);
    text-align: center;
    color: white;
}



.action-icon {
    cursor: pointer;
    color: red;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px;
    border-radius: 50%;
}

.action-icon:hover {
    color: white;
    background-color: red;
}

td.action {
    text-align: center;
    vertical-align: middle;
}