body{
    background-color: #f0f0f0 !important;
}
.main-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    margin-left:250px !important;
}
h1 {
    text-align: left;
    margin-bottom: 20px !important;
    font-size: 24px !important;
    font-weight: bold !important;
    color: rgb(83, 33, 234)!important;
}
h1 span {
    color: #008000;
    font-size: 24px ;
}
.campaign label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    width: 100%;
}  
.campaign {
    margin-bottom: 20px;
}
.campaign input[type="text"] {
    display: left;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%; 
}
.btn {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    color: #000 !important;
    transition: color 0.3s; /* Add transition for smooth color change */
}

.btn:hover {
    color: #fff !important; /* Change text color to white on hover */
}

.error-message{
    color: red;
}